@import './reset';
@import './shared';

.blue-background {
	background-color: #2D4571;
}

.blue-background:hover {
	background-color: rgb(87, 106, 141);
}

body {
	color: rgba(0,0,0,0.7);
	background-image: url(http://ak7.picdn.net/shutterstock/videos/6165557/thumb/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#app {
	font-family: 'Roboto', sans-serif;
}

footer.page-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #2D4571;
	padding-top: 0;
}

nav {
	background: #2D4571;

	& li div p {
		padding: 0 20px;
	}
}

.card-image {
	width: 300px;
}

.card-panel {
	margin: 50px auto 100px;
	max-width: 500px;
}

.user-find-header {
	font-size: 20px;
}

.user-form-component {
	padding-top: 20px;
}

.main-title {
	display: flex;
	flex-direction: column;
	align-items: center;


	& p {
		font-size: calc(2vw + 10px);
		margin-bottom: 20px;
	}

	& ul {
		font-size: calc(1.5vw + 10px);

		&>li {
			list-style-type: disc;
		}
	}
	&__header {
		font-weight: bold;
	}

	&__buttons {

		margin-top: 30px;
		display: flex;
		flex-direction: column;

		& a {

			// background-color: #ee6e73;

			&:hover {
				background-color: rgb(87, 106, 141);
			}

			&:first-child {
				margin-bottom: 20px;
			}
		}


	}
}
.nav-item {
	padding: 0px 10px 0px 10px;
	margin-right: 10px;
}
.nav-item:hover {
	background-color: rgb(87, 106, 141);
	cursor: pointer;
}

.host-profile-page {
  &__img {
    display: block;
    max-width: 500px;
    max-height: 600px;
    margin: auto;
  }
  &__name {
    text-align: center;
  }
  &__rating {
    text-align: center;
    .material-icons {
      color: #d8c83a;
    }
  }

}
