@import './reset';
@import './shared';

.blue-background {
	background-color: #2D4571;
}

.blue-background:hover {
	background-color: rgb(87, 106, 141);
}

body {
  color: rgba(0,0,0,0.7);
}

#app {
	font-family: 'Roboto', sans-serif;
}

footer.page-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #2D4571;
	padding-top: 0;
}

nav {
	background: #2D4571;

	& li div p {
		padding: 0 20px;
	}
}

.card-image {
	width: 300px;
}

.main-title {
	display: flex;
	flex-direction: column;
	align-items: center;


	& p {
		font-size: calc(2vw + 10px);
		margin-bottom: 20px;
	}

	& ul {
		font-size: calc(1.5vw + 10px);

		&>li {
			list-style-type: disc;
		}
	}

	&__buttons {

		margin-top: 30px;
		display: flex;
		flex-direction: column;

		& a {

			// background-color: #ee6e73;

			&:hover {
				background-color: rgb(87, 106, 141);
			}

			&:first-child {
				margin-bottom: 20px;
			}
		}


	}
}
.nav-item {
    padding: 0px 10px 0px 10px; 
}
.nav-item:hover {
    background-color: rgb(87, 106, 141);
    cursor: pointer;
}
